.gallery
{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-bottom: -35px;
    text-align: left;
}

.galleryNavigation
{
    position: relative;
    width: 25vw;
    height: 1vw;
    bottom: 2vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.galleryBar
{
    width: 1.75vw;
    height: 60%;
    border: 0.25vw solid #fff;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    cursor: pointer;
    transition: 0.6s;
    border-radius: 3vw;
}
.galleryBar:hover
{
    background: #fff;
}

input[name="r"]
{
    position: absolute;
    visibility: hidden;
}

.gallerySlidesParent
{
    height: 100%;
}

.gallerySlide
{
    height: 100%;
    transition: 0.6s;
    display: inline-block;
}

.galleryVisualItem
{
    width: 100%;
}

.pauseBtn
{
    position: absolute;
    width: 3vw;
    height: 3vw;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url("../images/ui/play-button.png");
    background-size: cover;
}

@media (max-aspect-ratio: 1.0)
{
    .pauseBtn
    {
        width: 7vw;
        height: 7vw;
    }
    .galleryBar
    {
        width: 7vw;
        margin-left: 0.75vw;
        margin-right: 0.75vw;
    }
    .galleryNavigation
    {
        width: 65vw;
        height: 3vw;
        bottom: 7vw;
    }
}