#threeModelViewParent
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    font-size: 1vw;
}

#threeModelView
{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 89.8%;
    height: 90%;
    transform: translateX(-50%) translateY(-50%);
    border: 3px solid #fff;
}

#threeViewSettingsParent
{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 20%;
    background-color: #1e1e1edd;
    overflow-y: auto;
    overflow-x: hidden;
}

.threeViewTrisCounter
{
    position: relative;
    margin: 0.5vw;
}

.buttonsWithSelectionParent
{
    width: 100%;
    height: auto;
}

.buttonsWithSelection
{
    background-color: #121212dd;
    padding: 0.75vw;
    margin: 0.75vw;
}

.buttonsWithSelectionSelected
{
    background-color: #33c0c5dd;
    padding: 0.75vw;
    margin: 0.75vw;
}

.closeBtn
{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: brown;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.buttonsWithSelectionTitle
{
    margin: 1vw;
    font-size: 1.5vw;
    border-bottom: 2px solid #fff;
}

.horizontalSliderParent
{
    width: 100%;
    margin: 5px;   
}

.horizontalSliderTitle
{
    width: auto;
    display: inline-block;
    padding: 0.15vw;
}

.horizontalSliderBtn
{
    width: 40%;
    height: 100%;
    border-radius: 3vw;
    display: inline-block;
    background-color: rgb(62, 76, 78);
    text-align: center;
    border: 0.35vw solid #fff;
    user-select: none;
}

.horizontalSliderText
{
    pointer-events: none;
}

#renderGalleryParent
{
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

#modelDownloadBtn
{
    position: relative;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0.5vw;
    padding: 0.5vw;
    bottom: 0px;
    text-align: center;
    background-color: #33c0c5dd;
}

#artistCredits
{
    position: absolute;
    top: 1vw;
    left: 50%;
    width: auto;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.5vw;
}

#artistCredits > a
{
    color: yellow;
    text-decoration: none;
}

#artistCredits > a:visited
{
    color: yellow;
    text-decoration: none;
}

@media (max-aspect-ratio: 1.0)
{
    #threeViewSettingsParent
    {
        top: 70%;
        width: 100%;
        height: 30%;
    }
    
    #threeModelViewParent
    {
        font-size: 3vw;
    }

    .buttonsWithSelectionTitle
    {
        font-size: 4vw;
    }

    #artistCredits
    {
        width: 90%;
        font-size: 3vw;
    }
}